parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Limenet\\\\LaravelSentryHelpers\\\\Facades\\\\LaravelSentryHelpers\\:\\:getCacheKey\\(\\)\\.$#"
			count: 1
			path: src/LaravelSentryHelpersServiceProvider.php

		-
			message: "#^Call to an undefined static method Limenet\\\\LaravelSentryHelpers\\\\Facades\\\\LaravelSentryHelpers\\:\\:getCacheTtlInSeconds\\(\\)\\.$#"
			count: 1
			path: src/LaravelSentryHelpersServiceProvider.php

		-
			message: "#^Call to an undefined static method Limenet\\\\LaravelSentryHelpers\\\\Facades\\\\LaravelSentryHelpers\\:\\:getRelease\\(\\)\\.$#"
			count: 1
			path: src/LaravelSentryHelpersServiceProvider.php
